<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="login.css">
    <style>
        /* Paste the CSS code from the provided CSS file here */
    </style>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> Sign Up </h2>
            <h2 class="inactive underlineHover"> <a href="login">Sign In</a></h2>

            <div class="fadeIn first">
                <!-- If you want to display an icon, you can include it here -->
                <!-- For example: <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
            </div>

            <!-- Login Form -->
            <form action="/register" method="post">
                <input type="text" id="login" class="fadeIn second" name="name" placeholder="Name">
    <input type="text" id="login" class="fadeIn second" name="Number" placeholder="Contect Number">
    <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email">
     <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
    <input type="submit" class="fadeIn fourth" value="Sing Up">
            </form>
        </div>
    </div>
</body>
</html>
